@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --fontSizes-xs: 0.75rem;
  --fontSizes-sm: clamp(10px, calc(10px + 0vw), 10px);
  --fontSizes-md: clamp(14px, calc(14px + 0vw), 14px);
  --fontSizes-lg: clamp(18px, calc(3.71px + 3.81vw), 22px);
  --fontSizes-xl: 1.25rem;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: var(--fontSizes-xl);
}

h2 {
  font-size: var(--fontSizes-md);
}

p {
  font-size: var(--fontSizes-md);
  color: #a3a3a3;
}

h4 {
  font-size: var(--fontSizes-md);
  color: #7f7f7f;
}

h5 {
  font-size: var(--fontSizes-md);
}

h5 {
  font-size: var(--fontSizes-md);
  margin: 2% auto;
}

a:hover {
  text-decoration: underline;
}

.main {
  max-width: 500px;
}

.title {
  margin: auto;
}

.subTitle {
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foto-perfil {
  width: 22%;
  border-radius: 100px;
}

.about-wrapper {
  margin: 10% auto;
}

.experience-wrapper {
  margin: 10% auto;
}

.item-experiencia {
  margin: 1.25rem auto;
}

.tempo-experiencia,
.tempo-projects {
  min-width: 25%;
}

.projects-wrapper {
  margin: 10% auto;
}

.item-projects {
  margin: 1.25rem auto;
}

.links-wrapper {
  margin: 10% auto;
}

.textosPrincipais {
  width: 75%;
}

.academic-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-academic {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main {
    margin: 8vh 3.5vw;
  }

  h2 {
    margin: 5% auto;
  }

  p {
    margin: 5% auto;
  }

  .item-links {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .main {
    margin: 8vh auto;
  }

  h2 {
    margin: 5% auto;
  }

  p {
    margin: 5% auto;
  }

  .item-experiencia {
    display: flex;
    align-items: center;
  }

  .tempo-experiencia {
    margin-right: 2%;
  }

  .item-projects {
    display: flex;
    align-items: center;
  }

  .tempo-projects {
    margin-right: 2%;
  }
}
